<h1>ゆっこのブログ</h1>

<ul>
    <% @articles.each do |article| %>
    <li>
        <%= link_to article.title, article_path(article.id) %>
        <%= link_to "[Edit]", edit_article_path(article.id) %>
    </li>
    <% end %>
</ul>

<%= link_to "Add New Article", new_article_path %>
